

html,body {
border:0;
font-size:100%;
font:inherit;
margin:0;
padding:0;
}

body {
background:#fff;
text-align:center;
padding-top:20px;
font-family:'open sans', sans-serif;
margin-right: 20px;
margin-left: -10px;
}

a img {
border:none;
}

.center {
width:100%;
text-align:center;
}

.left {
width:100%;
text-align:left;
}

.nomargin {
margin:0;
}

.clear {
clear:both;
}

#container {
	max-width: 1043px;
	width: 100%;
	min-height: 1200px;
	/* [disabled]background:#fff url(bg-con.gif) repeat-y; */
	background:#fff;
	text-align: left;
	position: relative;
	padding-bottom: 10px;
	margin: 20px auto 0;
}

#header {
position:relative;
height:120px;
}

#header1 {
position:relative;
height:160px;
padding-top:150px;
}

#logo {
position:absolute;
background:url(logo2.png) no-repeat 0 10px;
width:73%;
height:48px;
margin-top:3px;
}

.poz1 {
top:35px;
left:23px;
padding:0 0 0 50px;
}

.poz2 {
top:30px;
left:23px;
padding:25px 0 0 90px;
}

.poz3 {
top:25px;
left:23px;
padding:15px 0 0 60px;
}



	#logo a {
	display:block;
	text-decoration:none;
	color:#747373;
	font-weight:lighter;
	font-size:40px;
	letter-spacing:-2px;
	font-family: 'open sans light', sans-serif;
	}

#dot1 {
width:2px;
height:2px;
background:#747373;
position:absolute;
top:72px;
left:214px;
}

#dot2 {
width:2px;
height:2px;
background:#747373;
position:absolute;
top:83px;
left:254px;
}

#dot3 {
width:2px;
height:2px;
background:#747373;
position:absolute;
top:70px;
left:224px;
}


#top-nav {
position:absolute;
top:116px;
left:725px;
font:13px 'Lucinda Grande', Arial, Geneva, sans-serif;
font-weight:100;
width:244px;
z-index:99;
padding:0 0 0 30px;
}

#top-nav a {
text-decoration:none;
color:#7f7d7d;
padding:0 8px;
}

#top-nav a:hover {
color:#000; 
}

#artHead {
margin-left:30px;
}

#artHead h1 {
font-size:24px;
color:#212121;
font-weight:400;
font-family: 'open sans',sans-serif;
letter-spacing:0px;
line-height:26px;
}


.divider1,.divider2 {
border-bottom:1px solid #ebebeb;
max-width:1000px;
width: 100%;
position:absolute;
left:20px;
}

.divider1 {
top:10px;
font-size:12px;
color:#747373;
text-align:right;
padding-bottom:3px;
}

.divider2 {
top:105px;
}

.top_right {
	float: right;
	/* [disabled]width:341px; */
	height: 24px;
	display: inline;
	position: absolute;
	right: 30px;
	top: 50px;
	font-size: 11px;
}

.top_right span {
    float:left;
    margin-top:5px;
}

.top_right .like_btn,.top_right .like_btn img {
float:left;
margin-right:2px;
}


.top_right p {
float:left;
width:285px;
font-size:11px;
line-height:12px;
color:#000;
font-weight:700;
padding:8px 0 0 5px;
}

.top_right p a {
float:left;
text-decoration:none;
}

.top_right p a img {
float:left;
margin-right:3px;
display:inline;
}

#navbar {
position:absolute;
top:117px;
left:20px;
width:1000px;
height:30px;
background: bottom #07B4C6; /* #6da900;  #185188; */
}

#navbar ul {
width:1000px;
margin:7px 0 0 -40px;
}

#navbar ul li {
float:left;
list-style-type:none;
background:url(li-border.png) no-repeat right -2px;
font-size:14px;
padding:0 10px;
}

#navbar ul li a {
color:#fff;
text-decoration:none;
letter-spacing:.5px;
padding:3px;
}

#navbar ul li a:hover,#navbar ul li:hover a /* Chrome fix */ {
color:#E2E2E2;
margin-top:0;
text-shadow:none;
padding:0 3px 3px;
}

#content {
padding-top: 40px;
color: #7f7d7d;
font-size: 13px;
position: relative;
max-width: 650px;
width: 100%;
float: left;
margin-left: 18px;  margin-bottom: 30px;
}

#socialBar {
	float:right;
	height: 30px;
	padding: 5px 0;
	background: url('sb.png') no-repeat center top;
	width: 322px;
	margin-right:14px;
}

.imgWrap {
height:350px;
}

h1#main {
margin: 0 0 0 18px;
color:#3E3E3E;
clear:both;
font-size:45px;
font-weight:200;
letter-spacing:-1px;
line-height:46px;
max-width:990px;
width: 100%;
padding:10px 0 10px;
}

#content p,h2 {
    font-family: 'open sans',sans-serif;
color:#3E3E3E;
line-height:20px;
}

.art p {
width:650px;
}

.wypis {
color:#5f5f5f;
margin-bottom:25px;
width:640px;
position:relative;
padding:20px 9px 9px;
}

.wypis a {
color:#265a90;
}

.wypis .comments {
position:absolute;
top:44px;
right:6px;
background:url(comments.gif) no-repeat;
padding-left:20px;
}

#text {
min-height:110px;
line-height:17px;
font-family:Verdana, Geneva, sans-serif;
color:#282828;
margin:8px 0 10px;
}

#text img {
border:1px solid #ddd;
background-color:#fff;
margin:5px 15px 5px -9px;
padding:5px;
}

#text p {
margin-bottom:7px;
}

#article-title a {
font-size:24px;
color:#212121;
font-weight:400;
    font-family: 'open sans',sans-serif;
letter-spacing:-1px;
line-height:26px;
text-decoration:none;
}

#data {
background:url(bg-data.gif) no-repeat scroll 0 0 transparent;
float:left;
height:56px;
text-align:center;
width:56px;
margin:0 7px 0 -8px;
}

#data p {
color:#5F5F5F;
font-family:"Trebuchet MS", Arial, Geneva, sans-serif;
font-size:22px;
line-height:20px;
margin-top:8px;
}

#data p span {
font-size:18px;
font-family:Tahoma, Geneva, sans-serif;
}

.tags {
font-size:12px;
height:16px;
background:url(tag.gif) no-repeat top left;
padding-left:20px;
margin:5px 0 0 60px;
}

.tags a {
text-decoration:underline;
color:#5f5f5f;
}

.relHead {
width:650px;
height:45px;
background:#F7F7F7;
border-bottom:1px dotted #A5A5A5;
position:relative;
}

.relHead h2 {
width:175px;
height:27px;
display:block;
background:#fff;
border:1px solid #A5A5A5;
border-bottom:none;
color:#9A3A84;
font-family:sans-serif,serif;
font-size:20px;
font-weight:400;
left:50px;
top:15px;
position:absolute;
margin:0;
padding:3px 30px 0;
}

ul.relList {
width:650px;
margin-left:-40px;
}

ul.relList li {
list-style:none;
float:left;
width:130px;
font-size:11px;
color:#A5A5A5;
text-align:center;
}

.sideBox {
width:300px;
height:100px;
background:#fff;
border:1px solid #CECECE;
position:relative;
margin:5px auto;
}

.sideBox h1 {
position:absolute;
left:15px;
top:-30px;
font-size:25px;
font-style:italic;
color:#212121;
font-weight:400;
font-family:sans-serif, serif;
}

.sideBox .head {
position:absolute;
left:5px;
top:-21px;
height:20px;
width:200px;
background:#fff;
border:1px solid #CECECE;
border-bottom:none;
}

.sideBox .comments {
position:absolute;
top:19px;
left:230px;
text-align:left;
font-family:Arial,sans-serif;
font-size:11px;
height:16px;
width:30px;
background:url(sidebar-comments.png) no-repeat;
line-height:16px;
padding-left:13px;
font-weight:bold;
}

.sideBox img.sb {
float:left;
width:80px;
margin:20px 0 0 15px;
}

.sideBox p {
float:left;
width:175px;
text-align:left;
margin-left:8px;
}

a.h1 {
text-transform:uppercase;
font-size:10px;
color:#666;
margin-bottom:15px;
text-decoration:none;
font-weight:700;
}

a.h2 {
font-size:12px;
color:#000;
font-weight:700;
text-decoration:none;
line-height:18px;
}

.sideArrow {
background:url(box-cap-arrow.png);
height:22px;
width:37px;
position:absolute;
left:75%;
bottom:-21px;
z-index:1001;
}

.social-sidebar ul,.sidebar-trending ul,.sidebar-popular ul {
clear:both;
font-size:12px;
margin:0;
padding:0;
}

.social-sidebar ul li,.sidebar-trending ul li,.sidebar-popular ul li {
color:#000;
font-family:Arial,sans-serif;
font-weight:700;
list-style:none outside none;
text-align:left;
}

.social-sidebar {
background-color:#FFF;
border:1px solid #D7D7D7;
float:right;
position:relative;
width:279px;
margin:30px 0;
padding:0 10px 10px;
}

.social-sidebar ul {
border:1px solid #DEDEDE;
}

.social-sidebar li {
border-color:#FFF;
border-style:solid none;
border-width:1px 0;
padding:10px;
}

.social-sidebar li.twitter {
background-color:#EEE;
}

.social-sidebar li.googleplus {
background-color:#E6E6E6;
}

.social-sidebar li.googleplus span,.social-sidebar li.pinterest span {
color:#333;
display:inline-block;
font-size:11px;
font-weight:400;
line-height:1px;
margin-left:4px;
vertical-align:text-top;
}

.social-sidebar li.share {
border:medium none;
color:#004179;
}

.social-sidebar li.share a {
color:#004179;
line-height:20px;
padding-left:20px;
vertical-align:middle;
}

.social-sidebar li.share a.rss {
background:url(sidebar-rss.png) no-repeat scroll left center transparent;
}

.social-sidebar li.share a.newsletters {
background:url(sidebar-newsletters.png) no-repeat scroll left center transparent;
}

.ie.ie7 .social-sidebar li.googleplus {
display:none;
}

.sbh {
position:absolute;
left:5px;
top:-35px;
font-size:25px;
font-style:italic;
color:#212121;
font-weight:400;
font-family:sans-serif, serif;
}

.sideBox2 {
border-top:1px dotted #D7D7D7;
position:relative;
width:299px;
padding-top:20px;
margin:100px 0 0 20px;
}

table#popular {
font-size:11px;
margin-top:30px;
}

table#popular img {
width:90px;
}

.behere {
width:995px;
margin:auto;
}

.right,.read-more {
width:100%;
text-align:right;
}

.posted a:hover,a.h2:hover,#footer a:hover {
text-decoration:underline;
}


#navbar ul li.last {
background:none;
}

#comments {

width:660px;
background:none repeat scroll 0 0 #fff;
margin-top:20px;
}

#comments .descrip {
padding-left:15px;
}

#comments .d1 {
font-weight:400;
font-size:14px;
}

#comments .d2 {
padding-left:10px;
color:#666;
}

#comments .d3 {
padding-left:10px;
font-weight:400;
font-size:14px;
}

#comments h1 {
color:#6da900;
line-height:150%;
font-size:24px;
margin-left:20px;
}

#comments h2 {
margin:40px 0 0 20px;
color:#0599BE;
border-top:1px solid #e8e8e8;
line-height:150%;
font-size:18px;
}

#comments .comment {
background:none repeat scroll 0 0 #fff;
border-top:1px solid #e8e8e8;
margin:15px;
padding:5px;
line-height:120%;
}

#comments .padd {
margin-top:15px;
}

#comments .text1 {
color:#0599BE;
text-transform: lowercase;
font-style:italic;
font-size:12px;
margin-right:5px;
font-weight:bold;
}

#comments .text2 {
float:right;
color:#666;
font-size:10px;
}

#comments .text3 {
clear:both;
color:#333;
padding-top:8px;
font-size:11px;
position:relative;
}
#commentform {margin-left: 20px;}

.comimg {
    width:25px;
    height:25px;
    background: url(comment_user_img.jpg) no-repeat;
    float:left;    
}
#submit {
    background: #0599BE;/*#6da900*/
    color:#fff;
    border-radius:4px;
    border:1px;
    width:180px;
    height:30px;
    cursor:pointer;    
}

#footer {
    font-size: 12px;
    height:40px;
    max-width:1000px;
    width: 100%;
    border-top:1px solid #ebebeb;
    margin: 10px auto 0 auto;
    text-align: left;
}

#footer a {color:#0599BE;/*#6da900;*/ text-decoration: none;}
#footer ul {margin-left:-45px;}
#footer ul li {
    float:left;   
    list-style:none;
    margin:0 8px;
    }
label {color:#333;}
.tresc {
    margin-top:17px;
    background: #F7F7F7;
    display:block;
    padding:4px;
    }
    
.video2 {    
    margin: 0px 0 40px 0;
    position: relative;
    
  }
  .evp-video-wrap {
    position: absolute !important;
    top: 0px !important;
    left: 15px !important;   
    
    }
  .vidtxt {
    width: 365px !important;
  }
  a.nodec {
    color: blue;
    text-decoration: none;
  }
  a.nodec:hover {
    text-decoration: underline;
  }
#print {
	margin-top:12px;
	float:right;
	background: url('print.png') no-repeat center top;
	height: 36px;
	width: 48px;
}
.straight {
    position: absolute;
    top:490px;
    left: 13px;
    z-index:99;
    width:300px;
    height:19px;
    background: url(str.gif) no-repeat;
    
}

.pic {
	width:110px;
	height:36px;
	line-height:36px;
	font-size:20px;
	font-weight:bold;
	position:absolute;
	top:0px;
	right:0px;
	color:#000;
	text-align:center;}
.pic1{
	right:255px;}
.fb_right {height:26px; overflow:visible; float:right; font-family:Arial, Helvetica, sans-serif; font-size:11px; margin:11px 0 0 0; text-decoration:none;}
.fb_right:hover { text-decoration:none;}
#ll{
	width:25px; height:26px;
	line-height:26px;
	float:left;
	background-image:url(fblikel.png); background-repeat:no-repeat;}
#lm{
	height:26px;
	line-height:26px;
	float:left;
	background-image:url(fblikem.png); background-repeat:repeat-x;}
#lr{
	width:33px; height:26px;
	line-height:26px;
	float:left;
	background:url(fbliker.png) no-repeat left}
#rek {
	display:block;
	height:500px;
	width:300px;
	background:url('rek.jpg') no-repeat center top;
	text-align:center;
	text-decoration:none;
	}
#rek h1 {
	color:#000;
	font-size:24px;
	padding-top:30px; 
	margin:0;
	height:74px;
}
#rek h2 {
	color:white;  margin:0;
	font-weight:bold;
	font-size:20px;
	text-transform:uppercase;
	display:block;
	height:55px;
	line-height:55px;
	width:300px;
	text-align:center;
	background:url('rek.png') no-repeat center top;
}
.order-link{
	background-color: #F7A241;
	margin:auto;
  	border: solid 1px #000;
  	width: 300px;
  	text-align: center;
  	height: 62px;
  	line-height: 62px;
  	color: #fff;
  	font-size: 28px;
}
.order-link:hover{
	background-color: #F08D1D;
	
}
.picture-info{
	  background-color: #fff;
	  font-weight: bold;
	  font-size: 16px;
}
.text-content{max-width: 600px; width:100%;}
.main-img{
	width: 100%;
}
.table-main{
	width:100%; text-align:center;
}
#sidebar {
		width:330px;
		/*background:#F7F7F7;
		border-top:1px solid #E6E6E6;
		border-left:1px solid #E6E6E6;*/
		float:right;
		z-index:997;
		text-align:center;
		padding-top:0px;
		position:relative;
		margin:40px 12px 0 18px;
			}
#comments{max-width: 660px ; width: 100% ;}
#comments textarea {max-width: 660px; width: 100%;}
/*Responsywność*/

@media (max-width: 1064px) and (min-width: 620px) {
.main-img{
	width: 70%;
}
.table-main{
	width: 70%;
}
}
@media all and (max-width: 1064px) {
	#comments{max-width: 100% !important; width: 100%  !important;}
	#container{
		max-width: none;
		
	}
	#content{
		max-width: none;

		
	}
	.text-content{
	max-width: none;
	
	}
.order-link{
	display: none;
}
#pogoda{
	display: none;
}
#sidebar {
		clear: both;
		max-width:330px;
		width: 100%;
		float:none;
		z-index:997;
		text-align:center;
		padding-top:0px;
		position:relative;
		margin:auto;
		margin-bottom: 50px;
			}
}

@media all and (max-width: 399px){

#main{
	font-size: 23px !important;
}
}


@media all and (min-width: 330px){
	#logo a span {
		font-size:28px;
		margin-left:3px;
}
}
@media all and (max-width: 329px){
	#logo a span {
		display: none;
	}
}

	